/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$body-color: rgb(172, 172, 172);
$link-color: rgb(100, 247, 173);

// Code blocks
$code-block-bg-alpha: -.8;


// toc 
$toc-font-size: 0.95em;
$toc-color: rgb(74, 199, 248);


// Nav
$navbar-bg: #2e2e2e;

